* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.inputs {
  width: 455px;
  height: 50px;
  padding-top: 12px;
  padding-bottom: 21px;
  padding-left: 20px;
  color: #BBB;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.35px;
  text-transform: uppercase;
}

.container {
  max-width: 936px;
  padding: 0px 15px;
  margin: 0 auto;
}

.main_section {
  background-color: #222;
  padding-top: 92px;
  padding-bottom: 115px;
}

.txtarea {
  width: 458px;
  height: 212px;
  color: #BBB;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.35px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 181px;
}

.main_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 115px;
  text-align: center;
}

.inputs:not(:last-child) {
  margin-bottom: 30px;
}

.input_div {
  width: 455px;
  margin-right: 28px;
  margin-bottom: 29px;
}

.flex {
  display: flex;
}

.button {
  display: block;
  margin: 0 auto;
  width: 242px;
  height: 68px;
  background-color: #FED136;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}